
*{
    margin: 0;
    padding: 0;
}
a{
    margin: 0;
    padding: 0;
}
img{
    border:0;
    vertical-align:bottom;
}
body{
    background: #550000;
    margin:0 auto;
    padding:0;
    -webkit-text-size-adjust:none;
    color:#ffffff;
    overflow: scroll;
	background-image: url("../image/hs.png");
	background-size: 100% ;
	background-attachment: fixed;
}
.top{
    width: 100%;
    max-width: 640px;
	height: 100%;
    margin: 0 auto;
   position: fixed;
    z-index: 0;
}
.top img{
    width: 100%;
    display: block;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .foot {
        font-size: 12px;
    }
}
@media screen and (min-width: 480px) and (max-width: 640px) {
    .foot {
        font-size: 14px;
    }
}


